@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


.contain
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(219, 159, 29);
    height: 100vh;
    width:100vw;
    gap: 12vh;
    
    

    h1{
        font-family: 'Luxurious Script', cursive;  
        font-size: 11vh;
        color: rgb(0, 0, 0);
        transform: translateY(12vh);
        // height: 6vh;

    }
    .login
    {
        display: flex;
        gap: 5vh;
        // border-radius: 2px;
        .left{
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                font-family: 'Ysabeau SC', sans-serif;
                color: rgb(255, 255, 255);
                // font-weight: bolder;
                font-size: 2.5vh;
            }
            h3{
                width: 40vh;
                font-family: 'Ysabeau SC', sans-serif;
                font-size: 2vh;
                color: rgb(0, 0, 0);
            }
    
            span{
                font-family: 'Ysabeau SC', sans-serif;
                font-size: 1.5vh;
            }
        }
    
        .right{
            // border: 2px solid black;
            display: flex;
            // flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 40%;
    
            h3{
                font-family: 'Ysabeau SC', sans-serif;
                color: rgb(255, 255, 255);
                // font-weight: bolder;
                font-size: 3.5vh;
            }
    
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgb(255, 255, 255);
                font-family: 'Ysabeau SC', sans-serif;
                font-size: smaller;
              }
    
            form{
                display: flex;
                flex-direction: column;
                gap: 4vh;
                input{
                    height: 3.5vh;
                    width: 20vh;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    font-size: 1.8vh;
                }
    
                span{
                    font-family: 'Ysabeau SC', sans-serif;
                    color: rgb(0, 0, 0);
                    font-size: 1.5vh;
                }
    
                button{
                    background-color: transparent;
                    height: 4vh;
                    width: 8vh;
                    font-size: smaller;
                    border: 1px solid rgb(255, 255, 255);
                    border-radius: 3px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .login {
        display: flex;
        flex-direction: column;

    }
}